<footer class="site-footer">
  <div class="brand">
    <img src="levels-logo.webp" alt="Levels Café" />
    <small>Coffee, considered · Muscat</small>
  </div>

  <div class="col">
    <h4>Visit</h4>
    <ul>
      <li><a routerLink="/locations">Qurum</a></li>
      <li><a routerLink="/locations" fragment="hours">Hours</a></li>
      <li><a routerLink="/locations" fragment="directions">Directions</a></li>
    </ul>
  </div>

  <div class="col">
    <h4>Browse</h4>
    <ul>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/gifts">Gift Cards</a></li>
    </ul>
  </div>

  <div class="col">
    <h4>Follow</h4>
    <ul>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Wholesale</a></li>
    </ul>
  </div>

  <div class="colophon">
    <span>© 2026 Levels Coffee Co.</span>
    <span>Made slowly in Muscat</span>
    <span>Vol. 07</span>
  </div>
</footer>
